@font-face {
    font-family: 'HM Sans';
    src: url("../fonts/hm-sans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

*:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif
}

video,
img {
    vertical-align: middle
}

input,
button {
    font-family: inherit;
    -webkit-appearance: none
}

@supports (-webkit-overflow-scrolling: touch) {
    input:not([type="button"]),
    input:not([type="submit"]),
    select {
        font-size: 16px !important
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

button {
    cursor: pointer
}

a {
    color: currentColor
}

strong,
b {
    font-weight: 500
}

* {
    font-weight: 500
}

small {
    font-size: 12px
}

.sub {
    font-size: 9px
}

.grid,
.container,
.full-container,
.centered-container {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-shrink: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}

.centered-container {
    -webkit-box-pack: center;
    justify-content: center
}

.show-grid:before,
.show-grid:after {
    pointer-events: none;
    content: "";
    display: block;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: calc(100% - 40px);
    height: 100vh
}

.show-grid:before {
    background-image: linear-gradient(90deg, #e84f30 1px, transparent 0px), linear-gradient(90deg, rgba(232, 79, 48, 0.5) 1px, transparent 0px), linear-gradient(90deg, #e84f30 1px, transparent 0px), linear-gradient(0deg, rgba(232, 79, 48, 0.25) 1px, transparent 1px);
    background-size: 8.33333% 1px, 8.33333% 1px, 8.33333% 1px, 100% 26px
}

.show-grid:after {
    border-right: 1px solid #e84f30;
    border-left: 1px solid #e84f30;
    background-size: 8.33333% 1px
}

.w-1 {
    width: 8.33333%
}

.w-2 {
    width: 16.66667%
}

.w-3 {
    width: 25%
}

.w-4 {
    width: 33.33333%
}

.w-5 {
    width: 41.66667%
}

.w-6 {
    width: 50%
}

.w-7 {
    width: 58.33333%
}

.w-8 {
    width: 66.66667%
}

.w-9 {
    width: 75%
}

.w-10 {
    width: 83.33333%
}

.w-11 {
    width: 91.66667%
}

.w-12 {
    width: 100%
}

.gap-1 {
    margin-left: 8.33333%
}

.gap-2 {
    margin-left: 16.66667%
}

.gap-3 {
    margin-left: 25%
}

.gap-4 {
    margin-left: 33.33333%
}

.gap-5 {
    margin-left: 41.66667%
}

.gap-6 {
    margin-left: 50%
}

.gap-7 {
    margin-left: 58.33333%
}

.gap-8 {
    margin-left: 66.66667%
}

.gap-9 {
    margin-left: 75%
}

.gap-10 {
    margin-left: 83.33333%
}

.gap-11 {
    margin-left: 91.66667%
}

.gap-12 {
    margin-left: 100%
}

.f-1-1 {
    width: 100%
}

.f-8-9 {
    width: 88.8%
}

.f-7-8 {
    width: 87.5%
}

.f-6-7 {
    width: 85.71%
}

.f-5-6 {
    width: 83.33%
}

.f-4-5 {
    width: 80%
}

.f-3-4 {
    width: 75%
}

.f-7-10 {
    width: 70%
}

.f-2-3 {
    width: 66.66%
}

.f-1-2 {
    width: 50%
}

.f-1-3 {
    width: 33.33%
}

.f-3-10 {
    width: 30%
}

.f-1-4 {
    width: 25%
}

.f-1-5 {
    width: 20%
}

.f-1-6 {
    width: 16.66%
}

.f-1-7 {
    width: 14.28%
}

.f-1-8 {
    width: 12.5%
}

.f-1-9 {
    width: 11.11%
}

.gap-f-1-1 {
    margin-left: 100%
}

.gap-f-8-9 {
    margin-left: 88.8%
}

.gap-f-7-8 {
    margin-left: 87.5%
}

.gap-f-6-7 {
    margin-left: 85.71%
}

.gap-f-5-6 {
    margin-left: 83.33%
}

.gap-f-4-5 {
    margin-left: 80%
}

.gap-f-3-4 {
    margin-left: 75%
}

.gap-f-7-10 {
    margin-left: 70%
}

.gap-f-2-3 {
    margin-left: 66.66%
}

.gap-f-1-2 {
    margin-left: 50%
}

.gap-f-1-3 {
    margin-left: 33.33%
}

.gap-f-3-10 {
    margin-left: 30%
}

.gap-f-1-4 {
    margin-left: 25%
}

.gap-f-1-5 {
    margin-left: 20%
}

.gap-f-1-6 {
    margin-left: 16.66%
}

.gap-f-1-7 {
    margin-left: 14.28%
}

.gap-f-1-8 {
    margin-left: 12.5%
}

.gap-f-1-9 {
    margin-left: 11.11%
}

.container,
.centered-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto
}

.container.gutters,
.full-container.gutters,
.centered-container.gutters,
.container.gutters,
.full-container.gutters,
.centered-container.gutters {
    padding-left: 20px;
    padding-right: 20px
}

.centered-container {
    -webkit-box-pack: center;
    justify-content: center
}

.full-container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0
}

.offset-left,
.offset-right {
    position: relative
}

.offset-left {
    left: calc(8.33333% - 40px)
}

.offset-right {
    right: calc(8.33333% - 40px)
}

.gutters {
    padding-left: 10px;
    padding-right: 10px
}

.gutter-left {
    padding-left: 10px
}

.gutter-right {
    padding-right: 10px
}

.no-gutters {
    padding-left: 0;
    padding-right: 0
}

.no-gutter-left {
    padding-left: 0
}

.no-gutter-right {
    padding-right: 0
}

.show-grid:before {
    background-position: -10px 0, 0 0, 10px 0, 0 0
}

.show-grid:after {
    background-image: linear-gradient(90deg, rgba(48, 232, 232, 0.1) calc(100% - 20px), transparent 0px);
    background-position: 10px 0
}

@media (min-width: 500px) {
    .xs-w-1 {
        width: 8.33333%
    }
    .xs-w-2 {
        width: 16.66667%
    }
    .xs-w-3 {
        width: 25%
    }
    .xs-w-4 {
        width: 33.33333%
    }
    .xs-w-5 {
        width: 41.66667%
    }
    .xs-w-6 {
        width: 50%
    }
    .xs-w-7 {
        width: 58.33333%
    }
    .xs-w-8 {
        width: 66.66667%
    }
    .xs-w-9 {
        width: 75%
    }
    .xs-w-10 {
        width: 83.33333%
    }
    .xs-w-11 {
        width: 91.66667%
    }
    .xs-w-12 {
        width: 100%
    }
    .xs-gap-1 {
        margin-left: 8.33333%
    }
    .xs-gap-2 {
        margin-left: 16.66667%
    }
    .xs-gap-3 {
        margin-left: 25%
    }
    .xs-gap-4 {
        margin-left: 33.33333%
    }
    .xs-gap-5 {
        margin-left: 41.66667%
    }
    .xs-gap-6 {
        margin-left: 50%
    }
    .xs-gap-7 {
        margin-left: 58.33333%
    }
    .xs-gap-8 {
        margin-left: 66.66667%
    }
    .xs-gap-9 {
        margin-left: 75%
    }
    .xs-gap-10 {
        margin-left: 83.33333%
    }
    .xs-gap-11 {
        margin-left: 91.66667%
    }
    .xs-gap-12 {
        margin-left: 100%
    }
    .xs-f-1-1 {
        width: 100%
    }
    .xs-f-8-9 {
        width: 88.8%
    }
    .xs-f-7-8 {
        width: 87.5%
    }
    .xs-f-6-7 {
        width: 85.71%
    }
    .xs-f-5-6 {
        width: 83.33%
    }
    .xs-f-4-5 {
        width: 80%
    }
    .xs-f-3-4 {
        width: 75%
    }
    .xs-f-7-10 {
        width: 70%
    }
    .xs-f-2-3 {
        width: 66.66%
    }
    .xs-f-1-2 {
        width: 50%
    }
    .xs-f-1-3 {
        width: 33.33%
    }
    .xs-f-3-10 {
        width: 30%
    }
    .xs-f-1-4 {
        width: 25%
    }
    .xs-f-1-5 {
        width: 20%
    }
    .xs-f-1-6 {
        width: 16.66%
    }
    .xs-f-1-7 {
        width: 14.28%
    }
    .xs-f-1-8 {
        width: 12.5%
    }
    .xs-f-1-9 {
        width: 11.11%
    }
    .xs-gap-f-1-1 {
        margin-left: 100%
    }
    .xs-gap-f-8-9 {
        margin-left: 88.8%
    }
    .xs-gap-f-7-8 {
        margin-left: 87.5%
    }
    .xs-gap-f-6-7 {
        margin-left: 85.71%
    }
    .xs-gap-f-5-6 {
        margin-left: 83.33%
    }
    .xs-gap-f-4-5 {
        margin-left: 80%
    }
    .xs-gap-f-3-4 {
        margin-left: 75%
    }
    .xs-gap-f-7-10 {
        margin-left: 70%
    }
    .xs-gap-f-2-3 {
        margin-left: 66.66%
    }
    .xs-gap-f-1-2 {
        margin-left: 50%
    }
    .xs-gap-f-1-3 {
        margin-left: 33.33%
    }
    .xs-gap-f-3-10 {
        margin-left: 30%
    }
    .xs-gap-f-1-4 {
        margin-left: 25%
    }
    .xs-gap-f-1-5 {
        margin-left: 20%
    }
    .xs-gap-f-1-6 {
        margin-left: 16.66%
    }
    .xs-gap-f-1-7 {
        margin-left: 14.28%
    }
    .xs-gap-f-1-8 {
        margin-left: 12.5%
    }
    .xs-gap-f-1-9 {
        margin-left: 11.11%
    }
    .xs-container,
    .xs-centered-container {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto
    }
    .container.xs-gutters,
    .full-container.xs-gutters,
    .centered-container.xs-gutters,
    .xs-container.xs-gutters,
    .xs-full-container.xs-gutters,
    .xs-centered-container.xs-gutters {
        padding-left: 20px;
        padding-right: 20px
    }
    .xs-centered-container {
        -webkit-box-pack: center;
        justify-content: center
    }
    .xs-full-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .xs-offset-left,
    .xs-offset-right {
        position: relative
    }
    .xs-offset-left {
        left: calc(8.33333% - 40px)
    }
    .xs-offset-right {
        right: calc(8.33333% - 40px)
    }
    .xs-gutters {
        padding-left: 10px;
        padding-right: 10px
    }
    .xs-gutter-left {
        padding-left: 10px
    }
    .xs-gutter-right {
        padding-right: 10px
    }
    .xs-no-gutters {
        padding-left: 0;
        padding-right: 0
    }
    .xs-no-gutter-left {
        padding-left: 0
    }
    .xs-no-gutter-right {
        padding-right: 0
    }
}

@media (min-width: 800px) {
    .s-w-1 {
        width: 8.33333%
    }
    .s-w-2 {
        width: 16.66667%
    }
    .s-w-3 {
        width: 25%
    }
    .s-w-4 {
        width: 33.33333%
    }
    .s-w-5 {
        width: 41.66667%
    }
    .s-w-6 {
        width: 50%
    }
    .s-w-7 {
        width: 58.33333%
    }
    .s-w-8 {
        width: 66.66667%
    }
    .s-w-9 {
        width: 75%
    }
    .s-w-10 {
        width: 83.33333%
    }
    .s-w-11 {
        width: 91.66667%
    }
    .s-w-12 {
        width: 100%
    }
    .s-gap-1 {
        margin-left: 8.33333%
    }
    .s-gap-2 {
        margin-left: 16.66667%
    }
    .s-gap-3 {
        margin-left: 25%
    }
    .s-gap-4 {
        margin-left: 33.33333%
    }
    .s-gap-5 {
        margin-left: 41.66667%
    }
    .s-gap-6 {
        margin-left: 50%
    }
    .s-gap-7 {
        margin-left: 58.33333%
    }
    .s-gap-8 {
        margin-left: 66.66667%
    }
    .s-gap-9 {
        margin-left: 75%
    }
    .s-gap-10 {
        margin-left: 83.33333%
    }
    .s-gap-11 {
        margin-left: 91.66667%
    }
    .s-gap-12 {
        margin-left: 100%
    }
    .s-f-1-1 {
        width: 100%
    }
    .s-f-8-9 {
        width: 88.8%
    }
    .s-f-7-8 {
        width: 87.5%
    }
    .s-f-6-7 {
        width: 85.71%
    }
    .s-f-5-6 {
        width: 83.33%
    }
    .s-f-4-5 {
        width: 80%
    }
    .s-f-3-4 {
        width: 75%
    }
    .s-f-7-10 {
        width: 70%
    }
    .s-f-2-3 {
        width: 66.66%
    }
    .s-f-1-2 {
        width: 50%
    }
    .s-f-1-3 {
        width: 33.33%
    }
    .s-f-3-10 {
        width: 30%
    }
    .s-f-1-4 {
        width: 25%
    }
    .s-f-1-5 {
        width: 20%
    }
    .s-f-1-6 {
        width: 16.66%
    }
    .s-f-1-7 {
        width: 14.28%
    }
    .s-f-1-8 {
        width: 12.5%
    }
    .s-f-1-9 {
        width: 11.11%
    }
    .s-gap-f-1-1 {
        margin-left: 100%
    }
    .s-gap-f-8-9 {
        margin-left: 88.8%
    }
    .s-gap-f-7-8 {
        margin-left: 87.5%
    }
    .s-gap-f-6-7 {
        margin-left: 85.71%
    }
    .s-gap-f-5-6 {
        margin-left: 83.33%
    }
    .s-gap-f-4-5 {
        margin-left: 80%
    }
    .s-gap-f-3-4 {
        margin-left: 75%
    }
    .s-gap-f-7-10 {
        margin-left: 70%
    }
    .s-gap-f-2-3 {
        margin-left: 66.66%
    }
    .s-gap-f-1-2 {
        margin-left: 50%
    }
    .s-gap-f-1-3 {
        margin-left: 33.33%
    }
    .s-gap-f-3-10 {
        margin-left: 30%
    }
    .s-gap-f-1-4 {
        margin-left: 25%
    }
    .s-gap-f-1-5 {
        margin-left: 20%
    }
    .s-gap-f-1-6 {
        margin-left: 16.66%
    }
    .s-gap-f-1-7 {
        margin-left: 14.28%
    }
    .s-gap-f-1-8 {
        margin-left: 12.5%
    }
    .s-gap-f-1-9 {
        margin-left: 11.11%
    }
    .s-container,
    .s-centered-container {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto
    }
    .container.s-gutters,
    .full-container.s-gutters,
    .centered-container.s-gutters,
    .s-container.s-gutters,
    .s-full-container.s-gutters,
    .s-centered-container.s-gutters {
        padding-left: 20px;
        padding-right: 20px
    }
    .s-centered-container {
        -webkit-box-pack: center;
        justify-content: center
    }
    .s-full-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .s-offset-left,
    .s-offset-right {
        position: relative
    }
    .s-offset-left {
        left: calc(8.33333% - 40px)
    }
    .s-offset-right {
        right: calc(8.33333% - 40px)
    }
    .s-gutters {
        padding-left: 10px;
        padding-right: 10px
    }
    .s-gutter-left {
        padding-left: 10px
    }
    .s-gutter-right {
        padding-right: 10px
    }
    .s-no-gutters {
        padding-left: 0;
        padding-right: 0
    }
    .s-no-gutter-left {
        padding-left: 0
    }
    .s-no-gutter-right {
        padding-right: 0
    }
}

@media (min-width: 1100px) {
    .show-grid:before,
    .show-grid:after {
        max-width: calc(100% - 90px)
    }
    .m-w-1 {
        width: 8.33333%
    }
    .m-w-2 {
        width: 16.66667%
    }
    .m-w-3 {
        width: 25%
    }
    .m-w-4 {
        width: 33.33333%
    }
    .m-w-5 {
        width: 41.66667%
    }
    .m-w-6 {
        width: 50%
    }
    .m-w-7 {
        width: 58.33333%
    }
    .m-w-8 {
        width: 66.66667%
    }
    .m-w-9 {
        width: 75%
    }
    .m-w-10 {
        width: 83.33333%
    }
    .m-w-11 {
        width: 91.66667%
    }
    .m-w-12 {
        width: 100%
    }
    .m-gap-1 {
        margin-left: 8.33333%
    }
    .m-gap-2 {
        margin-left: 16.66667%
    }
    .m-gap-3 {
        margin-left: 25%
    }
    .m-gap-4 {
        margin-left: 33.33333%
    }
    .m-gap-5 {
        margin-left: 41.66667%
    }
    .m-gap-6 {
        margin-left: 50%
    }
    .m-gap-7 {
        margin-left: 58.33333%
    }
    .m-gap-8 {
        margin-left: 66.66667%
    }
    .m-gap-9 {
        margin-left: 75%
    }
    .m-gap-10 {
        margin-left: 83.33333%
    }
    .m-gap-11 {
        margin-left: 91.66667%
    }
    .m-gap-12 {
        margin-left: 100%
    }
    .m-f-1-1 {
        width: 100%
    }
    .m-f-8-9 {
        width: 88.8%
    }
    .m-f-7-8 {
        width: 87.5%
    }
    .m-f-6-7 {
        width: 85.71%
    }
    .m-f-5-6 {
        width: 83.33%
    }
    .m-f-4-5 {
        width: 80%
    }
    .m-f-3-4 {
        width: 75%
    }
    .m-f-7-10 {
        width: 70%
    }
    .m-f-2-3 {
        width: 66.66%
    }
    .m-f-1-2 {
        width: 50%
    }
    .m-f-1-3 {
        width: 33.33%
    }
    .m-f-3-10 {
        width: 30%
    }
    .m-f-1-4 {
        width: 25%
    }
    .m-f-1-5 {
        width: 20%
    }
    .m-f-1-6 {
        width: 16.66%
    }
    .m-f-1-7 {
        width: 14.28%
    }
    .m-f-1-8 {
        width: 12.5%
    }
    .m-f-1-9 {
        width: 11.11%
    }
    .m-gap-f-1-1 {
        margin-left: 100%
    }
    .m-gap-f-8-9 {
        margin-left: 88.8%
    }
    .m-gap-f-7-8 {
        margin-left: 87.5%
    }
    .m-gap-f-6-7 {
        margin-left: 85.71%
    }
    .m-gap-f-5-6 {
        margin-left: 83.33%
    }
    .m-gap-f-4-5 {
        margin-left: 80%
    }
    .m-gap-f-3-4 {
        margin-left: 75%
    }
    .m-gap-f-7-10 {
        margin-left: 70%
    }
    .m-gap-f-2-3 {
        margin-left: 66.66%
    }
    .m-gap-f-1-2 {
        margin-left: 50%
    }
    .m-gap-f-1-3 {
        margin-left: 33.33%
    }
    .m-gap-f-3-10 {
        margin-left: 30%
    }
    .m-gap-f-1-4 {
        margin-left: 25%
    }
    .m-gap-f-1-5 {
        margin-left: 20%
    }
    .m-gap-f-1-6 {
        margin-left: 16.66%
    }
    .m-gap-f-1-7 {
        margin-left: 14.28%
    }
    .m-gap-f-1-8 {
        margin-left: 12.5%
    }
    .m-gap-f-1-9 {
        margin-left: 11.11%
    }
    .container,
    .centered-container {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto
    }
    .container.gutters,
    .full-container.gutters,
    .centered-container.gutters,
    .container.gutters,
    .full-container.gutters,
    .centered-container.gutters {
        padding-left: 45px;
        padding-right: 45px
    }
    .centered-container {
        -webkit-box-pack: center;
        justify-content: center
    }
    .full-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .offset-left,
    .offset-right {
        position: relative
    }
    .offset-left {
        left: calc(8.33333% - 60px)
    }
    .offset-right {
        right: calc(8.33333% - 60px)
    }
    .gutters {
        padding-left: 15px;
        padding-right: 15px
    }
    .gutter-left {
        padding-left: 15px
    }
    .gutter-right {
        padding-right: 15px
    }
    .no-gutters {
        padding-left: 0;
        padding-right: 0
    }
    .no-gutter-left {
        padding-left: 0
    }
    .no-gutter-right {
        padding-right: 0
    }
    .m-container,
    .m-centered-container {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto
    }
    .container.m-gutters,
    .full-container.m-gutters,
    .centered-container.m-gutters,
    .m-container.m-gutters,
    .m-full-container.m-gutters,
    .m-centered-container.m-gutters {
        padding-left: 45px;
        padding-right: 45px
    }
    .m-centered-container {
        -webkit-box-pack: center;
        justify-content: center
    }
    .m-full-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .m-offset-left,
    .m-offset-right {
        position: relative
    }
    .m-offset-left {
        left: calc(8.33333% - 60px)
    }
    .m-offset-right {
        right: calc(8.33333% - 60px)
    }
    .m-gutters {
        padding-left: 15px;
        padding-right: 15px
    }
    .m-gutter-left {
        padding-left: 15px
    }
    .m-gutter-right {
        padding-right: 15px
    }
    .m-no-gutters {
        padding-left: 0;
        padding-right: 0
    }
    .m-no-gutter-left {
        padding-left: 0
    }
    .m-no-gutter-right {
        padding-right: 0
    }
    .show-grid:before {
        background-position: -15px 0, 0 0, 15px 0, 0 0
    }
    .show-grid:after {
        background-image: linear-gradient(90deg, rgba(48, 232, 232, 0.1) calc(100% - 30px), transparent 0px);
        background-position: 15px 0
    }
}

@media (min-width: 1500px) {
    .show-grid:before,
    .show-grid:after {
        max-width: calc(1500px - 90px)
    }
    .l-w-1 {
        width: 8.33333%
    }
    .l-w-2 {
        width: 16.66667%
    }
    .l-w-3 {
        width: 25%
    }
    .l-w-4 {
        width: 33.33333%
    }
    .l-w-5 {
        width: 41.66667%
    }
    .l-w-6 {
        width: 50%
    }
    .l-w-7 {
        width: 58.33333%
    }
    .l-w-8 {
        width: 66.66667%
    }
    .l-w-9 {
        width: 75%
    }
    .l-w-10 {
        width: 83.33333%
    }
    .l-w-11 {
        width: 91.66667%
    }
    .l-w-12 {
        width: 100%
    }
    .l-gap-1 {
        margin-left: 8.33333%
    }
    .l-gap-2 {
        margin-left: 16.66667%
    }
    .l-gap-3 {
        margin-left: 25%
    }
    .l-gap-4 {
        margin-left: 33.33333%
    }
    .l-gap-5 {
        margin-left: 41.66667%
    }
    .l-gap-6 {
        margin-left: 50%
    }
    .l-gap-7 {
        margin-left: 58.33333%
    }
    .l-gap-8 {
        margin-left: 66.66667%
    }
    .l-gap-9 {
        margin-left: 75%
    }
    .l-gap-10 {
        margin-left: 83.33333%
    }
    .l-gap-11 {
        margin-left: 91.66667%
    }
    .l-gap-12 {
        margin-left: 100%
    }
    .l-f-1-1 {
        width: 100%
    }
    .l-f-8-9 {
        width: 88.8%
    }
    .l-f-7-8 {
        width: 87.5%
    }
    .l-f-6-7 {
        width: 85.71%
    }
    .l-f-5-6 {
        width: 83.33%
    }
    .l-f-4-5 {
        width: 80%
    }
    .l-f-3-4 {
        width: 75%
    }
    .l-f-7-10 {
        width: 70%
    }
    .l-f-2-3 {
        width: 66.66%
    }
    .l-f-1-2 {
        width: 50%
    }
    .l-f-1-3 {
        width: 33.33%
    }
    .l-f-3-10 {
        width: 30%
    }
    .l-f-1-4 {
        width: 25%
    }
    .l-f-1-5 {
        width: 20%
    }
    .l-f-1-6 {
        width: 16.66%
    }
    .l-f-1-7 {
        width: 14.28%
    }
    .l-f-1-8 {
        width: 12.5%
    }
    .l-f-1-9 {
        width: 11.11%
    }
    .l-gap-f-1-1 {
        margin-left: 100%
    }
    .l-gap-f-8-9 {
        margin-left: 88.8%
    }
    .l-gap-f-7-8 {
        margin-left: 87.5%
    }
    .l-gap-f-6-7 {
        margin-left: 85.71%
    }
    .l-gap-f-5-6 {
        margin-left: 83.33%
    }
    .l-gap-f-4-5 {
        margin-left: 80%
    }
    .l-gap-f-3-4 {
        margin-left: 75%
    }
    .l-gap-f-7-10 {
        margin-left: 70%
    }
    .l-gap-f-2-3 {
        margin-left: 66.66%
    }
    .l-gap-f-1-2 {
        margin-left: 50%
    }
    .l-gap-f-1-3 {
        margin-left: 33.33%
    }
    .l-gap-f-3-10 {
        margin-left: 30%
    }
    .l-gap-f-1-4 {
        margin-left: 25%
    }
    .l-gap-f-1-5 {
        margin-left: 20%
    }
    .l-gap-f-1-6 {
        margin-left: 16.66%
    }
    .l-gap-f-1-7 {
        margin-left: 14.28%
    }
    .l-gap-f-1-8 {
        margin-left: 12.5%
    }
    .l-gap-f-1-9 {
        margin-left: 11.11%
    }
    .l-container,
    .l-centered-container {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto
    }
    .container.l-gutters,
    .full-container.l-gutters,
    .centered-container.l-gutters,
    .l-container.l-gutters,
    .l-full-container.l-gutters,
    .l-centered-container.l-gutters {
        padding-left: 45px;
        padding-right: 45px
    }
    .l-centered-container {
        -webkit-box-pack: center;
        justify-content: center
    }
    .l-full-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .l-offset-left,
    .l-offset-right {
        position: relative
    }
    .l-offset-left {
        left: calc(8.33333% - 60px)
    }
    .l-offset-right {
        right: calc(8.33333% - 60px)
    }
    .l-gutters {
        padding-left: 15px;
        padding-right: 15px
    }
    .l-gutter-left {
        padding-left: 15px
    }
    .l-gutter-right {
        padding-right: 15px
    }
    .l-no-gutters {
        padding-left: 0;
        padding-right: 0
    }
    .l-no-gutter-left {
        padding-left: 0
    }
    .l-no-gutter-right {
        padding-right: 0
    }
}

@media (min-width: 2000px) {
    .xl-w-1 {
        width: 8.33333%
    }
    .xl-w-2 {
        width: 16.66667%
    }
    .xl-w-3 {
        width: 25%
    }
    .xl-w-4 {
        width: 33.33333%
    }
    .xl-w-5 {
        width: 41.66667%
    }
    .xl-w-6 {
        width: 50%
    }
    .xl-w-7 {
        width: 58.33333%
    }
    .xl-w-8 {
        width: 66.66667%
    }
    .xl-w-9 {
        width: 75%
    }
    .xl-w-10 {
        width: 83.33333%
    }
    .xl-w-11 {
        width: 91.66667%
    }
    .xl-w-12 {
        width: 100%
    }
    .xl-gap-1 {
        margin-left: 8.33333%
    }
    .xl-gap-2 {
        margin-left: 16.66667%
    }
    .xl-gap-3 {
        margin-left: 25%
    }
    .xl-gap-4 {
        margin-left: 33.33333%
    }
    .xl-gap-5 {
        margin-left: 41.66667%
    }
    .xl-gap-6 {
        margin-left: 50%
    }
    .xl-gap-7 {
        margin-left: 58.33333%
    }
    .xl-gap-8 {
        margin-left: 66.66667%
    }
    .xl-gap-9 {
        margin-left: 75%
    }
    .xl-gap-10 {
        margin-left: 83.33333%
    }
    .xl-gap-11 {
        margin-left: 91.66667%
    }
    .xl-gap-12 {
        margin-left: 100%
    }
    .xl-f-1-1 {
        width: 100%
    }
    .xl-f-8-9 {
        width: 88.8%
    }
    .xl-f-7-8 {
        width: 87.5%
    }
    .xl-f-6-7 {
        width: 85.71%
    }
    .xl-f-5-6 {
        width: 83.33%
    }
    .xl-f-4-5 {
        width: 80%
    }
    .xl-f-3-4 {
        width: 75%
    }
    .xl-f-7-10 {
        width: 70%
    }
    .xl-f-2-3 {
        width: 66.66%
    }
    .xl-f-1-2 {
        width: 50%
    }
    .xl-f-1-3 {
        width: 33.33%
    }
    .xl-f-3-10 {
        width: 30%
    }
    .xl-f-1-4 {
        width: 25%
    }
    .xl-f-1-5 {
        width: 20%
    }
    .xl-f-1-6 {
        width: 16.66%
    }
    .xl-f-1-7 {
        width: 14.28%
    }
    .xl-f-1-8 {
        width: 12.5%
    }
    .xl-f-1-9 {
        width: 11.11%
    }
    .xl-gap-f-1-1 {
        margin-left: 100%
    }
    .xl-gap-f-8-9 {
        margin-left: 88.8%
    }
    .xl-gap-f-7-8 {
        margin-left: 87.5%
    }
    .xl-gap-f-6-7 {
        margin-left: 85.71%
    }
    .xl-gap-f-5-6 {
        margin-left: 83.33%
    }
    .xl-gap-f-4-5 {
        margin-left: 80%
    }
    .xl-gap-f-3-4 {
        margin-left: 75%
    }
    .xl-gap-f-7-10 {
        margin-left: 70%
    }
    .xl-gap-f-2-3 {
        margin-left: 66.66%
    }
    .xl-gap-f-1-2 {
        margin-left: 50%
    }
    .xl-gap-f-1-3 {
        margin-left: 33.33%
    }
    .xl-gap-f-3-10 {
        margin-left: 30%
    }
    .xl-gap-f-1-4 {
        margin-left: 25%
    }
    .xl-gap-f-1-5 {
        margin-left: 20%
    }
    .xl-gap-f-1-6 {
        margin-left: 16.66%
    }
    .xl-gap-f-1-7 {
        margin-left: 14.28%
    }
    .xl-gap-f-1-8 {
        margin-left: 12.5%
    }
    .xl-gap-f-1-9 {
        margin-left: 11.11%
    }
    .xl-container,
    .xl-centered-container {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto
    }
    .container.xl-gutters,
    .full-container.xl-gutters,
    .centered-container.xl-gutters,
    .xl-container.xl-gutters,
    .xl-full-container.xl-gutters,
    .xl-centered-container.xl-gutters {
        padding-left: 45px;
        padding-right: 45px
    }
    .xl-centered-container {
        -webkit-box-pack: center;
        justify-content: center
    }
    .xl-full-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .xl-offset-left,
    .xl-offset-right {
        position: relative
    }
    .xl-offset-left {
        left: calc(8.33333% - 60px)
    }
    .xl-offset-right {
        right: calc(8.33333% - 60px)
    }
    .xl-gutters {
        padding-left: 15px;
        padding-right: 15px
    }
    .xl-gutter-left {
        padding-left: 15px
    }
    .xl-gutter-right {
        padding-right: 15px
    }
    .xl-no-gutters {
        padding-left: 0;
        padding-right: 0
    }
    .xl-no-gutter-left {
        padding-left: 0
    }
    .xl-no-gutter-right {
        padding-right: 0
    }
}

@media (max-width: 1099px) {
    .small-screen-only {
        display: block !important
    }
    .large-screen-only {
        display: none !important
    }
}

@media (min-width: 1100px) {
    .small-screen-only {
        display: none !important
    }
    .large-screen-only {
        display: block !important
    }
}

.media img,
.media svg,
.media video,
.media audio,
.media iframe {
    width: 100%;
    height: auto;
    vertical-align: middle
}


/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */

.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    touch-action: none;
    z-index: 1500;
    -webkit-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    outline: none
}

.pswp * {
    box-sizing: border-box
}

.pswp img {
    max-width: none
}

.pswp--animate_opacity {
    opacity: 0.001;
    will-change: opacity;
    -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.22, 1)
}

.pswp--open {
    display: block
}

.pswp--zoom-allowed .pswp__img {
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.pswp--zoomed-in .pswp__img {
    cursor: -webkit-grab;
    cursor: grab
}

.pswp--dragging .pswp__img {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.pswp__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: opacity
}

.pswp__scroll-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.pswp__container,
.pswp__zoom-wrap {
    touch-action: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.pswp__container,
.pswp__img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

.pswp__zoom-wrap {
    position: absolute;
    width: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.22, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.22, 1)
}

.pswp__bg {
    will-change: opacity;
    -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.22, 1)
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
    -webkit-transition: none;
    transition: none
}

.pswp__container,
.pswp__zoom-wrap {
    -webkit-backface-visibility: hidden
}

.pswp__item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden
}

.pswp__img {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0
}

.pswp__img--placeholder {
    -webkit-backface-visibility: hidden
}

.pswp__img--placeholder--blank {
    background: #222
}

.pswp--ie .pswp__img {
    width: 100% !important;
    height: auto !important;
    left: 0;
    top: 0
}

.pswp__error-msg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: -8px;
    color: #CCC
}

.pswp__error-msg a {
    color: #CCC;
    text-decoration: underline
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    overflow: hidden;
    font-family: 'HM Sans'
}

body.is-hover {
    cursor: pointer
}

.logo {
    opacity: 0;
    position: fixed;
    z-index: 1020;
    top: 7px;
    left: 7px;
    cursor: pointer
}

@media (min-width: 1100px) {
    .logo {
        top: 15px;
        left: 15px
    }
}

.logo img {
    width: 130px;
    height: auto
}

.menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    position: fixed;
    z-index: 1010;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 90px 0px 30px 22px;
    background-color: #FFF;
    border-left: 1px solid rgba(60, 140, 186, 0.5)
}

.nav-menu {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start
}

.menu-text {
    font-size: 12px
}

.menu-item {
    position: relative;
    border: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 16px;
    letter-spacing: -.01;
    min-height: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: left
}

.menu-item span {
    pointer-events: none;
    position: relative;
    display: inline-block
}

.menu-item span:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease
}

@media (min-width: 800px) {
    .menu {
        padding: 35px 40px 40px 40px;
        max-width: 450px
    }
    .menu-item {
        font-size: 18px
    }
    .menu-text {
        font-size: 14px
    }
    .menu-item:hover span:after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition: -webkit-transform 0.15s ease;
        transition: -webkit-transform 0.15s ease;
        transition: transform 0.15s ease;
        transition: transform 0.15s ease, -webkit-transform 0.15s ease;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%
    }
}

.menu-overlay {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1009;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.01);
    -webkit-transition: visibility 0s linear .5s, opacity .5s linear, -webkit-transform .25s ease-out;
    transition: visibility 0s linear .5s, opacity .5s linear, -webkit-transform .25s ease-out;
    transition: visibility 0s linear .5s, opacity .5s linear, transform .25s ease-out;
    transition: visibility 0s linear .5s, opacity .5s linear, transform .25s ease-out, -webkit-transform .25s ease-out
}

.menu-overlay.is-active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: visibility .5s linear 0s, opacity .5s linear, -webkit-transform .25s ease-out;
    transition: visibility .5s linear 0s, opacity .5s linear, -webkit-transform .25s ease-out;
    transition: visibility .5s linear 0s, opacity .5s linear, transform .25s ease-out;
    transition: visibility .5s linear 0s, opacity .5s linear, transform .25s ease-out, -webkit-transform .25s ease-out
}

.ui-button {
    pointer-events: none;
    z-index: 1020;
    position: fixed;
    width: 44px;
    height: 44px;
    background-color: transparent;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 0
}

.burger-button {
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
    background-image: url(../img/burger-icon.png)
}

.burger-button.is-open {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-image: url(../img/close-icon-dark.png)
}

.close-button {
    background-image: url(../img/close-icon-light.png)
}

#toggleMenu {
    visibility: visible;
    pointer-events: auto
}

body.page-is-open #toggleMenu {
    visibility: hidden;
    pointer-events: none
}

#closeActivePageButton {
    opacity: 0;
    pointer-events: none
}

#closeActivePageButton.is-visible {
    opacity: 1;
    pointer-events: auto
}

#toggleMenu,
#closeActivePageButton {
    top: 15px;
    right: 15px
}

@media (min-width: 1100px) {
    #toggleMenu,
    #closeActivePageButton {
        top: 25px;
        right: 25px
    }
}

.invert-ui .logo,
.invert-ui .close-button {
    mix-blend-mode: difference;
    -webkit-filter: contrast(1);
    filter: contrast(1)
}

@media (max-width: 1099px) {
    .menu-is-open .logo {
        mix-blend-mode: difference;
        -webkit-filter: contrast(1);
        filter: contrast(1)
    }
    .invert-ui .main-logo {
        display: none
    }
    .invert-ui .page-logo {
        opacity: 1;
        position: absolute
    }
}

.arrow-scroll-down {
    opacity: 0;
    position: fixed;
    z-index: 900;
    bottom: 35px;
    left: 50%;
    width: 30px;
    margin-left: -15px
}

canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.scroll-area {
    position: relative;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
    overflow-y: auto;
    white-space: nowrap;
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%
}

.site-section {
    position: relative;
    scroll-snap-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    min-height: 100%
}

.is-debug .site-section {
    box-shadow: 0 0 0 4px red
}

.is-debug .site-section:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: green
}

.pages {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: visibility 0s linear .5s, opacity .5s linear, -webkit-transform .25s ease-out;
    transition: visibility 0s linear .5s, opacity .5s linear, -webkit-transform .25s ease-out;
    transition: visibility 0s linear .5s, opacity .5s linear, transform .25s ease-out;
    transition: visibility 0s linear .5s, opacity .5s linear, transform .25s ease-out, -webkit-transform .25s ease-out
}

.pages.is-active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: visibility .5s linear 0s, opacity .5s linear, -webkit-transform .25s ease-out;
    transition: visibility .5s linear 0s, opacity .5s linear, -webkit-transform .25s ease-out;
    transition: visibility .5s linear 0s, opacity .5s linear, transform .25s ease-out;
    transition: visibility .5s linear 0s, opacity .5s linear, transform .25s ease-out, -webkit-transform .25s ease-out
}

.page {
    overflow-y: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.65);
    -webkit-transition: visibility 0s linear .25s, opacity .25s linear;
    transition: visibility 0s linear .25s, opacity .25s linear
}

.page.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: visibility .25s linear 0s, opacity .25s linear;
    transition: visibility .25s linear 0s, opacity .25s linear
}

.page-content {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #FFF
}

.intro-container {
    background-color: #FFF
}

.page-intro {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
    font-size: 18px;
    text-align: justify;
    text-align-last: center
}

.page-video {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(106, 159, 201, 0.5);
    padding: 10%
}

.videos {
    display: none
}

.video-player {
    opacity: 0;
    width: 100%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: opacity .25s linear, -webkit-transform .25s ease-out;
    transition: opacity .25s linear, -webkit-transform .25s ease-out;
    transition: transform .25s ease-out, opacity .25s linear;
    transition: transform .25s ease-out, opacity .25s linear, -webkit-transform .25s ease-out
}

.page-video.is-open .video-player {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.video-player video {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.75)
}

video::cue {
    background: transparent !important
}

video::cue(.text) {
    background: transparent !important
}

video::-webkit-media-text-track-container {
    background: transparent !important
}

video::-webkit-media-text-track-background {
    background: transparent !important
}

video::-webkit-media-text-track-display {
    background: transparent !important
}

.log {
    display: none;
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1)
}

.is-debug .log {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

#gui {
    display: none;
    z-index: 1002
}

.is-debug #gui {
    display: block
}

.loading {
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.loading-pane {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #FFF
}

.loading-pane-top {
    z-index: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: flex-end;
    top: 0
}

.loading-progress {
    z-index: 2;
    position: relative;
    left: -9px;
    color: #91b8d5;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    -webkit-animation: shows-up .5s ease;
    animation: shows-up .5s ease
}

@-webkit-keyframes shows-up {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@keyframes shows-up {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

.loading-spinner {
    position: absolute;
    z-index: 1;
    top: 6px;
    right: -18px;
    z-index: 2;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-image: conic-gradient(#fff, #91b8d5);
    -webkit-animation: spins-up 1s linear 0s infinite;
    animation: spins-up 1s linear 0s infinite
}

@-webkit-keyframes spins-up {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spins-up {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loading-spinner:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 2px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFF
}

.loading-pane-bottom {
    z-index: 2;
    bottom: 0
}

.loading-progress-bar {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #91b8d5;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: opacity .125s linear .25s, -webkit-transform .5s ease-in-out;
    transition: opacity .125s linear .25s, -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out, opacity .125s linear .25s;
    transition: transform .5s ease-in-out, opacity .125s linear .25s, -webkit-transform .5s ease-in-out
}

body.is-ready .loading-progress-bar {
    opacity: 0
}

body.is-ready .loading-progress {
    -webkit-transform: translateY(50px);
    transform: translateY(50px)
}

#collectionPage {
    background-color: #FFF
}

.products-grid {
    border: 1.5px solid #FFF;
    background-color: #FFF
}

.product-section-title {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 1.5px
}

.product-section-title:after {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    right: 1.5px;
    bottom: 1.5px;
    background-color: #eae9e7
}

.product-section-title h2 {
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight: normal
}

@media (min-width: 500px) {
    .product-section-title h2 {
        font-size: 32px
    }
}

@media (min-width: 800px) {
    .product-section-title h2 {
        font-size: 40px
    }
}

@media (min-width: 1100px) {
    .product-section-title h2 {
        font-size: 60px
    }
}

.product {
    position: relative;
    z-index: 1;
    border: 1.5px solid #FFF
}

.product.is-expanded {
    z-index: 1030
}

.product.is-expanded .product-image {
    -webkit-transform: scale(2);
    transform: scale(2)
}

.product-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    cursor: url(../img/cursors/cursor-open-white.png), auto;
    cursor: -webkit-image-set(url("../img/cursors/cursor-open-white.png") 1x, url("../img/cursors/cursor-open-white%402x.png") 2x), auto;
    cursor: image-set(url("../img/cursors/cursor-open-white.png") 1x, url("../img/cursors/cursor-open-white%402x.png") 2x), auto
}

.product.is-expanded .product-image {
    cursor: url(../img/cursors/cursor-close-white.png), auto;
    cursor: -webkit-image-set(url("../img/cursors/cursor-close-white.png") 1x, url("../img/cursors/cursor-close-white%402x.png") 2x), auto;
    cursor: image-set(url("../img/cursors/cursor-close-white.png") 1x, url("../img/cursors/cursor-close-white%402x.png") 2x), auto
}

.product-image-large {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0
}

.product:hover .product-image-large,
.product.is-expanded .product-image-large {
    opacity: 1
}

.product.expand-left .product-image {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.product.expand-top .product-image {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%
}

.product.expand-left.expand-top .product-image {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.product-caption {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10%;
    font-size: 13px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    color: #FFF
}

@media (min-width: 1100px) {
    .product-caption {
        padding: 20%;
        font-size: 18px
    }
}

.product:not(.is-expanded):hover .product-caption {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px)
}

.product.is-dark .product-caption {
    color: #000
}

#innovationsPage {
    background-color: #373536
}

.innovations-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.innovations-section {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.innovations-background {
    min-width: 100%;
    min-height: 50vh
}

.innovations-section:nth-child(1) {
    z-index: 6
}

.innovations-section:nth-child(2) {
    z-index: 5
}

.innovations-section:nth-child(3) {
    z-index: 4
}

.innovations-section:nth-child(4) {
    z-index: 3
}

.innovations-section:nth-child(5) {
    z-index: 2
}

.innovations-section:nth-child(6) {
    z-index: 1
}

.innovations-section:nth-child(7) {
    z-index: 0
}

@media (min-width: 1100px) {
    .innovations-background {
        min-height: 100vh
    }
    .innovations-section:nth-child(2) .innovations-text {
        margin-top: -28vw
    }
    .innovations-section:nth-child(3) .innovations-text {
        margin-top: 14vw
    }
    .innovations-section:nth-child(4) .innovations-text {
        margin-top: -20vw
    }
    .innovations-section:nth-child(5) .innovations-text {
        margin-top: -22vw
    }
    .innovations-section:nth-child(6) .innovations-text {
        margin-top: 30vw
    }
    .innovations-section:nth-child(7) .innovations-text {
        margin-top: 80vw
    }
}

.innovations-section.is-dark {
    color: #FFF;
    background-color: #373536
}

.innovations-section.is-light {
    color: #000;
    background-color: #e7e5e2
}

.innovations-text-container {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 100px
}

@media (min-width: 1100px) {
    .innovations-text-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh
    }
}

.innovations-text {
    font-size: 14px;
    text-align: center
}

.innovations-text-title {
    margin-bottom: 15px;
    font-size: 28px
}

.innovations-text-paragraph {
    text-align: justify;
    text-align-last: center
}

.section-pagination {
    position: -webkit-sticky;
    position: sticky;
    bottom: 30px;
    top: 30px;
    height: 30px;
    margin-top: -60px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px
}

@media (min-width: 1100px) {
    .section-pagination {
        font-size: 28px
    }
}

.section-pagination.is-right {
    text-align: right
}